.timer-container{
    margin-top: 23px;
    height: 480px;
    padding: 3px;
}
.Timer-container-watcher-Input{
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.Timer-container-watcher-Input-in{
    background-color: #56555567;
    display:flex;
    width: 90%;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.Timer-container-watcher-Input-divHolder{
    display:flex;
    /* gap: 5px; */
}
.Timer-container-watcher-Input-divHolder > div{
    font-size: larger;
} 
.timer-map-hours{
    height: 195px;
    background: tranparent;
    overflow-y: scroll;
    align-items: center;
    border-radius: 50px;
}

.timer-map-hours::-webkit-scrollbar-thumb{
    background: none;
}
.Timer-container-watcher{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
}
.Timer-container-CircleOutsite{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    background: #b26903;
    position: relative;
}
.Timer-container-CircleOutsite:before{
    content: '';
    position: absolute;
    width: 94%;
    height: 94%;
    background: #0c0c0c;
    border-radius: 50%;

}
.Timer-container-CircleInside{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 285px;
    height: 285px;
    border-radius: 50%;
    /* background-color: #0c0c0c; */
     position: relative;
}
.Timer-container-CircleInside-time{
   color: #cccccc;
   font-size: 60px;
   font-weight: 200;
   margin-bottom: 10px;
   /* position: relative; */
}
.Timer-container-CircleInside-alarm{
    color: #cccccc67;
    font-size: 18px;
    font-weight: 200;
    word-spacing: 2.5px;
 }


.Timer-container-Buttons{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    height: 100px;
    /* background-color: red; */
}
.Timer-container-Button-Cancel{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: #3b3b3b55;
    border-radius: 50px;
    font-size: 18px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
    color: #6b6b6874;
}
.Timer-container-Button-Cancel2{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: #3b3b3b55;
    border-radius: 50px;
    font-size: 18px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
    color: #fff;
}

.Timer-container-Button-Start{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: #03250139;
    border-radius: 50px;
    font-size: 18px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
    color: #07961e;
}
.Timer-container-Button-Start2{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: #065b0339;
    border-radius: 50px;
    font-size: 18px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
    color: #07961e;
}

.Timer-container-Button-Pause{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: rgba(102, 55, 2, 0.44);
    border-radius: 50px;
    font-size: 18px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
    color: rgb(255, 89, 0);
}
.Timer-container-Button-Resume{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: #065b0339;
    border-radius: 50px;
    font-size: 18px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
    color: #07961e;
}
.Timer-container-alarm{
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #75747436;
    border-radius: 11px;
    padding: 3px;
}
.Timer-container-alarm-first{
  margin: 5px;
  color: #fff;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 300;
}
.Timer-container-alarm-second{
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: rgba(138, 137, 137, 0.814);
}
.Timer-container-alarm-second > p{
    font-size: 22px;
    font-weight: 900;
    margin-right: 15px;
    transform:  rotate(270deg);
    color: rgba(138, 137, 137, 0.522);
}