.stopwatch-container{
    margin-top: 8px;
    height: 480px;
    padding: 3px;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    border-radius: 40px; 
}
.stopwatch-container-MainWacher{ 
    height: 350px;
    border: .3px solid;
    border-top-color: transparent;
    border-bottom-color: #cccccc35;
    border-right-color: transparent;
    border-left-color: transparent;
}
.stopwatch-container-watcher{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    
}
.stopwatch-container-watcher > div{
    font-size: 60px;
     width: 85px;
    font-weight: 200;
}

.stopwatch-container-second{
    display:flex; 
    justify-content: space-around;
    align-items: center;
}
.stopwatch-container-second-first{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #5151516b;
    border-radius: 50px;
    font-size: 15px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
}

.stopwatch-container-second-first2{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #3434346b;
    border-radius: 50px;
    font-size: 15px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
    color: #626060;
}
.stopwatch-container-second-third{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    color: rgb(3, 147, 3);
    background-color: rgba(9, 49, 11, 0.851);
    border-radius: 50px;
    font-size: 15px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
}
.stopwatch-container-second-third2{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    color: red;
    background-color: rgba(90, 8, 14, 0.716);
    border-radius: 50px;
    font-size: 15px;
    border-style: double ;
    border-color:  black;
    cursor:pointer;
}
.stopwatch-container-lap{
    overflow-y: scroll;
    height: 200px;
}
.stopwatch-container-lap-first{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: .2px solid;
    border-top-color: transparent;
    border-bottom-color: #cccccc35;
    border-right-color: transparent;
    border-left-color: transparent;
}

.stopwatch-container-lap-first-first{
    font-size: 14px;
    margin-left: 10px;
}
.stopwatch-container-lap-first-second{
    display: flex;
    margin-right: 10px ;
    font-size: 14px;
    width: 85px;
}