.container {
   max-width: 428px;
   min-width: 380px;
   min-height: 640px;
   max-height: 926px;
   border-radius: 10px;
   /* height: 500px; */
   /* padding: 2px; */
}
/* container UP */
.container-time{
    display:flex;
    justify-content: space-between;
}
.container-time-current{
    font-size: 16px;
    font-weight: 600;
    color: #faf9f9;
}
.container-time-inside{
    display:flex;
    gap:10px;
  
}
.container-time-inside > div{
   font-size: 20px;
   color:#faf9f9;
}


/* container Middle */
.container-page{
    height: 800px
}


/* container Footer */
.container-footer{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
}
.container-footer > div{
    cursor: pointer;
}

.colorPalette{
    color: #f6b600;
}
.colorPalette2{
    color: #cccccc;
}
.clockComponent-icon{
    font-size: 27px;
}
.timerComponent{
    font-size: 13px;
}