.container {
   max-width: 428px;
   min-width: 400px;
   min-height: 700px;
   max-height: 926px;
   border-radius: 10px;
   background-color: #1d1d1d;
   border-radius: 85px;
   padding: 6.5%;
}
/* container UP */
.container-time{
    display:flex;
    justify-content: space-between;
    /* background-color: #2d2d2d; */
    /* height: 60px;
    margin-top: -20px;
    margin-left: -30px;
     margin-right: -30px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px; */
}
.container-time-current{
    font-size: 19px;
    font-weight: 600;
    color: #faf9f9;
}
.container-time-inside{
    display:flex;
    gap:10px;
  
}
.container-time-inside > div{
   font-size: 23px;
   color:#faf9f9;
}


/* container Middle */
.container-page{
    height: 800px
}


/* container Footer */
.container-footer{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
}
.container-footer > div{
    cursor: pointer;
}

.colorPalette{
    color: #f6b600;
}
.colorPalette2{
    color: #cccccc;
}
.clockComponent-icon{
    font-size: 30px;
}
.timerComponent{
    font-size: 16px;
}