.App {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #cccccc;
  padding: 20px;
  /* background-image: url('https://www.citypng.com/public/uploads/preview/png-apple-iphone-13-front-view-mockup-31628678178s9vsrvqjj5.png'); */
}
